<a href="https://colab.research.google.com/github/Tdanso/Micro-Credential-Winter-22/blob/main/day_5_intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(42)

In [ ]:
labels = ['a', 'b','c', 'd']
my_data = [10, 20, 30, 40]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30, 'd':40}

In [ ]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
labels = ['ny', 'nj','ca', 'ev']
my_data = [1000, 2000, 3000, 4000]
arr = np.array(my_data)
d = {'ny':10, 'ny':20, 'ca':30, 'ev':40}

In [ ]:
d

{'ca': 30, 'ev': 40, 'ny': 20}

In [ ]:
pd.Series(data=my_data, index=labels)

ny    1000
nj    2000
ca    3000
ev    4000
dtype: int64

In [ ]:
# Create a series of ten cities and years
data = ['ny','nj','ga','ca','ky','li','hi','st','nv','wy']
my_data = [1990, 2005, 1890, 1900, 1890, 1903, 1670, 16900, 8909, 2022]
pd.Series(data==my_data, index=labels)
arr = np.array(my_data)

In [ ]:
pd.Series(data==my_data, index=labels)

a    False
b    False
c    False
d    False
dtype: bool

In [ ]:
arr

array([ 1990,  2005,  1890,  1900,  1890,  1903,  1670, 16900,  8909,
        2022])

In [ ]:
data = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], 
                    ['W', 'X', 'Y', 'Z'])
data

          W         X         Y         Z
A  1.465649 -0.225776  0.067528 -1.424748
B -0.544383  0.110923 -1.150994  0.375698
C -0.600639 -0.291694 -0.601707  1.852278
D -0.013497 -1.057711  0.822545 -1.220844
E  0.208864 -1.959670 -1.328186  0.196861

In [ ]:
df1 = data['Y']
df1

A    0.067528
B   -1.150994
C   -0.601707
D    0.822545
E   -1.328186
Name: Y, dtype: float64

In [ ]:
df2 = data['W']
df2

A    1.465649
B   -0.544383
C   -0.600639
D   -0.013497
E    0.208864
Name: W, dtype: float64

In [ ]:
df3 = data['X']
df3

A   -0.225776
B    0.110923
C   -0.291694
D   -1.057711
E   -1.959670
Name: X, dtype: float64

In [ ]:
df4 = data['Z']
df4

A   -1.424748
B    0.375698
C    1.852278
D   -1.220844
E    0.196861
Name: Z, dtype: float64

In [ ]:
data

          W         X         Y         Z
A  1.465649 -0.225776  0.067528 -1.424748
B -0.544383  0.110923 -1.150994  0.375698
C -0.600639 -0.291694 -0.601707  1.852278
D -0.013497 -1.057711  0.822545 -1.220844
E  0.208864 -1.959670 -1.328186  0.196861

In [ ]:
data['new'] = data['Y'] + data['W']
data

          W         X         Y         Z       new
A  1.465649 -0.225776  0.067528 -1.424748  1.533177
B -0.544383  0.110923 -1.150994  0.375698 -1.695376
C -0.600639 -0.291694 -0.601707  1.852278 -1.202345
D -0.013497 -1.057711  0.822545 -1.220844  0.809048
E  0.208864 -1.959670 -1.328186  0.196861 -1.119322

# Create a new colunm with the combination of 3 columns from our dataset

In [ ]:
data['new 2'] = data['Y'] + data['W'] + data['Z']
data

          W         X         Y         Z       new     new 2
A  1.465649 -0.225776  0.067528 -1.424748  1.533177  0.108429
B -0.544383  0.110923 -1.150994  0.375698 -1.695376 -1.319678
C -0.600639 -0.291694 -0.601707  1.852278 -1.202345  0.649933
D -0.013497 -1.057711  0.822545 -1.220844  0.809048 -0.411796
E  0.208864 -1.959670 -1.328186  0.196861 -1.119322 -0.922461

In [ ]:
data['new 3'] = data['Y'] - data['W'] + data['Z']
data

          W         X         Y         Z       new     new 2     new 3
A  1.465649 -0.225776  0.067528 -1.424748  1.533177  0.108429 -2.822869
B -0.544383  0.110923 -1.150994  0.375698 -1.695376 -1.319678 -0.230913
C -0.600639 -0.291694 -0.601707  1.852278 -1.202345  0.649933  1.851210
D -0.013497 -1.057711  0.822545 -1.220844  0.809048 -0.411796 -0.384802
E  0.208864 -1.959670 -1.328186  0.196861 -1.119322 -0.922461 -1.340188